.story-character-line {
    width: 100%;
}

.story-character-line  td {
    flex-direction: row;
}

.story-character-line-name-td {
    font-weight: 900;
    width: 15%;
}

.story-character-line-part-name-text {
}

.left-side .story-character-line-part-text-container {
    text-align: left;
    margin: auto auto auto 0px;
}

.right-side .story-character-line-part-text-container {
    text-align: right;
    margin: auto 0px auto auto;
}


.right-side .story-character-line-part-name-text {
    text-align: right;
    margin: auto 0px auto auto;
}

.story-character-line-part-description {
    font-family: 'Ink Free';
    font-style: italic;
    color: rgb(12, 6, 86);
}

.right-side .int-phone {
    transform: scaleX(-1);
}


.int-phone {
    position: absolute;
    content: '';
    background-image: url('images/space-and-time/phone-sm.webp');
    background-size: contain;
    background-repeat: no-repeat;
}





@media only screen and (max-width: 990px) {
    .story-character-line-part-description {
        margin-top: -3px;
    }
    .int-phone {
        margin-top: -5px;
        width: 14px;
        height: 15px;
    }

}

@media only screen and (min-width: 990px) {
    .story-character-line-part-description {
        margin-top: -7px;
    }
    .int-phone {
        margin-top: -8px;
        width: 30px;
        height: 30px;
    }

}

