.story-narration {
    text-indent: 8px;
    margin-left: 20px;
    margin-right: 20px;
}


@media only screen and (max-width: 990px) {
    .story-narration {
        margin-top: 3px;
        margin-bottom: 3px;
    }

}

@media only screen and (min-width: 990px) {
    .story-narration {
        margin-top: 20px;
        margin-bottom: 20px;
    }

}
